<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Add Member Group</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
      <div style="padding-left:5%;padding-right:5%;" style="width:90%;">

      <form id="addmembergroupForm" name="addmembergroupForm">

        <div class="panel panel-default">
          <div class="subpanelCaption panel-heading">Member Group Information</div>
          <div style="padding:10px;" class="form-horizontal">
              <div class="form-group" >
                <label for="membergroupname" class="col-md-2 col-xs-3 control-label">Group Name</label>
                <div class="col-md-4 col-xs-5">
                    <input tabindex="1" type="text" class="form-control" id="membergroupname" name="membergroupname" placeholder="Member Group name">
                </div>

                <div class="col-md-4 col-xs-3">
                    <span >
                        <button class="btn btn-success btn-sm" ng-click="addNewMemberGroupMember()">Add Member
                        </button>
                    </span>
                </div>
              </div> <!-- end of form-group -->  

              <div class="form-group" data-ng-repeat="membergroupmember in membergroupmembers">
                  <div ng-show="showMemberGroupMemberLabel(membergroupmember)" class="col-md-2 col-xs-3"> 
                      <label for="membergroupmember" style="float:right;" class="control-label">Members</label>
                  </div>   
                  <div ng-hide="showMemberGroupMemberLabel(membergroupmember)" class="col-md-2 col-xs-3"> 
                      <label for="member" class="control-label">&nbsp;</label>
                  </div> 
                  <div class="col-md-4 col-xs-5">
                      <select class="form-control" ng-change="getAllMember(member.memberid,membergroupmember)" ng-model="member.memberid" id="memberid" name="memberid[]">
                    <option ng-repeat="member in members" value="{{member.id}}">{{member.membername}}</option>
                  </select>
                  </div> <!-- end of col -->

                  <div class="col-md-4 col-xs-2">
                    <span ng-show="showDeleteMemberGroupMember(membergroupmember)" ng-click="deleteMemberGroupMember(membergroupmember)" style="color:red;" class="btn glyphicon glyphicon-trash"></span>
                </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of form-group -->
          </div> <!-- end of form-horizontal -->

          <div style="padding:10px;" class="form-horizontal">
            <div class="form-group">
              <div class="col-md-5">
                <button tabindex="15" id="addnewmembergroupbutton" data-ng-click="addnewmembergroup(membergroupmembers)" type="button" class="btn btn-primary">Add Member Group</button>
              </div>
              </div> <!-- end of form-group -->
          </div> <!-- end of form-horizontal -->
        </div> <!-- end of panel panel -->              
          
      </form>
      </div> <!-- end of div style 100% -->
    </div> <!-- end of div col md 12 -->
</div> <!-- end of row -->    