<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Frequently Answered Questions</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->  

<div class="pageStandardOffset row">
  <div class="col-md-1">
      &nbsp;
    </div>
    <div id="faqInfoItems" name="faqInfoItems" class="col-md-10">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                How do I login to Daredevil Ducks?              
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Check out <a target="_blank" style="color:red;font-weight:bold;" href="https://youtu.be/YG9ZleppJwo">this</a> video about how to login and make your first picks.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                How do I pick a game for this weeks games?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Check out <a target="_blank" style="color:red;font-weight:bold;" href="https://youtu.be/YG9ZleppJwo">this</a> video about how to login and make your first picks.
              </p>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                I sometimes find myself away from my Computer. How can I still make my picks?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              You can email us at <a style="text-decoration:none;color:blue;" href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a> or call us at 781-342-0204 with your picks.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                Where is there information to help us with making our picks?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Look at what others are doing. 
              </p>
              <p>
              You can select "Players picks for weeks" (under Games) and choose players to see what they have picked. You can also select "Player Picks got week by Team" (under Games). This will show you how many people picked each team in a game week. 
              </p>
              <p>
              Look at NFL news for recent events. Go to team discovery page. Look at our week stats or charts.  
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                How can I get a group made for me and my friends?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Email us at <a style="text-decoration:none;color:blue;"  href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a> or call us with your name and the name of your friends. Then let us know what you would like your group called.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
                I went to make a pick but got locked out. What should I do?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Call or email us at <a style="text-decoration:none;color:blue;"  href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a> right away. We will put your picks in if we deem the game not to far along.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                I want to change my Avatar. How can I do that?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Send us an image that you want to replace your avatar with. We will size it to fit into our scheme and let you know when it is active.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
                How can I change my information like my password, address, bio etc?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              After you are logged in select your avatar at the top right of the web page. Clicking on this will bring you to a page where you can update your personal informtion.               
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">
                I use my phone or other mobile device to make my picks. What can I do?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              We have a mobile version of Daredevilducks. You can get to it by clicking <a href="http://yellowrangler.com">yellowrangler.com</a>               
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">
                I don't understand the weekly Power rankings and the Team Offense/Defense stats?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel panel-default">
                <div class="panel-body">
                  <p>
                  This Information displays the Rankings for the team selected, for each week.
                  </p>

                <p>The Power Rankings are determined by ESPN's Power Panel (group of 80+ Writers, Editors & TV Personalities) prior to the week’s games.</p>

                <p>Offensive Rankings are based on the highest to lowest Average of Yards Gained by each Team.</p>

                <p>Defensive Rankings are based on the lowest to highest Average of Yards Gained by the Team’s Opponents.</p>

                <p>The Offensive & Defensive Statistical Data is provided by SportsDirect Inc. via Team Rankings, LLC .  They are for the previous week’s game.</p>  

                <p>Hopefully this gives you a better idea of how to select the winning team for each game.</p>
                </div>
              </div>

              <div style="padding-top:30px;" >
                <table class="table TeamWeeklyRankingsInfoTable">

                  <tr>
                    <td class="miscText">Week</td>
                    <td class="miscData">Week that the statistics were created from.</td>
                  </tr>

                  <tr>
                    <td class="miscText">Team's</td>
                    <td class="miscData">Team's Name who played the Game. Team in <span class="teamSelected">Red</span> is the team you selected.</td>
                  </tr>

                  <tr>
                    <td class="miscText">Score</td>
                    <td class="miscData">Score of that Team had per Game. The score in <span class="teamWon">Green</span> is the winning score.</td>
                  </tr>

                  <tr>
                    <td class="miscText">W</td>
                    <td class="miscData">Wins for the Team that played the Game. 
                  </tr>

                  <tr>
                    <td class="miscText">L</td>
                    <td class="miscData">Losses for the Team that played the Game. 
                  </tr>

                  <tr>
                    <td class="miscText">T</td>
                    <td class="miscData">Ties for the Team that played the Game. 
                  </tr>

                  <tr>
                    <td class="powerRankingText" >Power Rank</td>
                    <td class="miscData">Power Ranking lists all 32 NFL teams from #1 through #32 determined by ESPN's Power Panel (group of 80+ Writers, Editors & TV Personalities) prior to the week’s games. 
                  </tr>

                  <tr>
                    <td class="offenceText">Over All</td>
                    <td class="miscData">OverAll Offense Ranking the Team that has the highest avg Yards Gained per game. 
                  </tr>

                  <tr>
                    <td class="offenceText">Score</td>
                    <td class="miscData">Offense Scoring Rank = Team with the highest avg of Points Gained per game. 
                  </tr>

                  <tr>
                    <td class="offenceText">Pass</td>
                    <td class="miscData">Offense Passing Rank = Team with the highest avg Pass Yards Gained per game. 
                  </tr>

                  <tr>
                    <td class="offenceText">Rush</td>
                    <td class="miscData">Offense Rushing Rank = Team with the highest avg Rush Yards Gained per Game.
                  </tr>

                  <tr>
                    <td class="defenceText">Over All</td>
                    <td class="miscData">OverAll Defense Rank = Team that has the lowest Opponent Yards Gained per game. 
                  </tr>

                  <tr>
                    <td class="defenceText">Score</td>
                    <td class="miscData">Defense Scoring Rank = Team with the lowest avg of Points Allowed per Opponent. 
                  </tr>

                  <tr>
                    <td class="defenceText">Pass</td>
                    <td class="miscData">Defense Passing Rank = Team with the lowest avg Pass Yards Gained per Opponent. 
                  </tr>

                  <tr>
                    <td class="defenceText">Run</td>
                    <td class="miscData">Defense Rush Rank = Team with the lowest avg Rush Yards Gained per Opponent. 
                  </tr>
                </table>              
              </div> <!-- end of padding -->

            </div> <!-- end of panel body -->
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven">
                The charts use reverse power and team rankings. What is that and why?
              </a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              We feel it is easier to interpret a Line or Bar chart as the higher the line or bar the better the score. This is especially true when comparing bar charts.
              </p>
              <p>
              There are 32 teams. Normal team and power ranking is from 1 to 32; with 1 being best and 32 being worst. In order to get the graphs to reflect highest line or bar as best; we reverse the rankings.
              </p>
              <p>
              We subtract each score from 33 thereby flipping the scores and giving us the charting relationships we are looking for! Example: The Patriots are rank 1 in offensive passing. 33 - 1 = 32. That will result in the Patriots at the top of the chart!       
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->


      </div> <!-- end of panel group -->
    </div> <!-- end of col-8 -->
    <div class="col-md-1">
      &nbsp;
    </div>
  </div> <!-- end of row -->  

  <!-- dialogs -->
<div class="modal fade" id="iformationDialogModal" tabindex="-1" role="dialog" aria-labelledby="iformationDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="iformationDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="iformationDialogModalLabelBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModalCleanUp()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    