<div class="container">

	<div class="pageNavbarOffset">&nbsp;</div>

	<div style="padding-top:10px;">&nbsp;</div>

	<div id="navbarButtons">
		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="servicesheading">
			<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#service" class="collapsed" aria-expanded="false">
			<img style="vertical-align:middle;height:40px;display:inline;" class="" src="img/buttons/rvtrips-service-logo.png"><span style="padding-left:15px;">Service</span>
			</a>
		</div> <!-- end of button -->

		<div id="service" class="collapse" aria-expanded="false" style="height:0px;">
			<a href="#/addservicestop" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Add Service Stop</a>
			<a href="#/addmaintenancestop" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Add Maintenance Stop</a>
			<a href="#/viewcurrentmileagestats" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Current Mileage Stats</a>
			<a href="#/viewtripmileagestats" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Trip Mileage Stats</a>
		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="waypointheading">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#waypoint" class="" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="img/buttons/rvtrips-waypoint-logo.png"><span style="padding-left:15px;">Waypoints</span>
				</a>
		</div> <!-- end of button -->

		<div id="waypoint" class="collapse">
			<a href="#/addwaypoint" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Add Waypoint</a>
			<a href="#/currentwaypointstats" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Current Waypoint Stats</a>
			<a href="#/tripwaypointstats" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Trip Waypoint Stats</a>
		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="vehicleinfoheading">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#vehicleinfo" class="collapsed" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="img/buttons/rvtrips-vehicle-logo.png"><span style="padding-left:15px;">Vehicle Info
				</a>
		</div> <!-- end of button -->

		<div id="vehicleinfo" class="collapse" aria-expanded="false">
			<a href="#/rvairstream" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Airstream</a>
			<a href="#/towvehicle" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Tow Vehicle</a>
		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="adminselect">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#admin" class="collapsed" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="img/buttons/rvtrips-admin-logo.png"><span style="padding-left:15px;">Administration</span>
				</a>
		</div> <!-- end of button -->

		<div id="admin" class="collapse" aria-expanded="false">
			<a href="#/addservicestation" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Add Service Station</a>
			<a href="#/editservicestation" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Service Station</a>
			<a href="#/addmember" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Add Member</a>
			<a href="#/editmember" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Member</a>
			<a href="#/editservicestop" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Service Stop</a>
			<a href="#/editservicestop" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Service Stop</a>
			<a href="#/editwaypointstop" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Waypoint Stop</a>
			<a href="#/editmaintenancestop" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Maintenance Stop</a>
			<a href="#/addvehicleinfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Add Vehicle Info</a>
			<a href="#/editvehicleinfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Edit Vehicle Info</a>
			<a href="#/weeklyscripts" class="btn btn-info btn-lg active btn-block left-column-text" role="button">System Scripts</a>
		</div> <!-- end of panel collapse -->

		<div style="padding-top:50px;"></div>

		<a href="" id="menubarlogin" name="menubarlogin" ng-click="loginlogoff()" class="btn btn-danger btn-lg active btn-block" role="button">Login</a>

		<div style="padding-top:20px;">&nbsp;</div>
	</div>
</div> <!-- end of container -->
    